
.admin-do-alert {
    z-index: 9999;
    top: 6px;
    position: fixed;
    width: 30%;
    margin: auto;
    margin-left: -10%;
    left: 50%;
    display: none;
    opacity: 0.6;
}

#editor {
    width: 98%;
    margin: 1%;
}

table > thead > tr{
    background-color:#eee;
    height: 50px;
}

#bdmap {
    width: 100%;
    height: 700px;
    margin: auto;
    padding: 0px;
    border: 1px solid #999;
    text-align: center
}

.data-legend {
    margin-top: 10px;
    background-color: #f4f6f7
}

.legend-chart {
    height: 280px
}

.legend-search {
    font-size: 13px;
}

.legend-search .button {
    font-size: 13px;
}

.legend-search .form-item {
    display: inline-block;
    padding-top: 22px;
    padding-left: 30px;
}
/*parsley style*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

/*admin/device/data  pre page and next page control*/
.page-control {
    padding-bottom: 25px
}

.box-title a:hover {
    text-decoration: underline
}

.page-control a {
    color: #00c0ef
}

.page-control a:hover {
    text-decoration: underline
}

.page-control a.disabled {
    color: #ccc;
    cursor: not-allowed;
    text-decoration: none
}

.page-back_footer{
    margin: 20px 0;
}

.page-list-select-rows{
    margin: 20px 0;
}

/*global alert pop up style for all the page*/
.alert-pop-up{
    margin-left: -88px;
    top: 439px;
    border-radius: 6px;
    position: fixed;
    left: 50%;
    font-weight: 400;
    opacity: .6;
    font-size: 16px;
    z-index: 5000
}

/*global alert pop up style for all the page*/
.show-device-online-status{
    color: #b4de33;
}